@{
    Layout = null;
    string url = ViewBag.url;
    string method = ViewBag.method;
}

<html>
<head>
    <title>Not Found</title>
</head>
<body>
    <h1>Not Found Error:</h1>
    <h2>@method:@url</h2>
</body>
</html>

