<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IService11" />
        <binding name="PhoneDictServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/WcfServiceLibrary/WCFService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="WcfService.IService1" name="BasicHttpBinding_IService1" />
      <endpoint address="http://localhost:8081/WcfServiceLibrary/WCFService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11"
        contract="ServiceReference1.IService1" name="BasicHttpBinding_IService11" />
      <endpoint address="http://localhost:3568/Services/PhoneDictService.asmx"
        binding="basicHttpBinding" bindingConfiguration="PhoneDictServiceSoap"
        contract="PhoneDictService.PhoneDictServiceSoap" name="PhoneDictServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>