# Rules in this file were initially inferred by Visual Studio IntelliCode from the D:\sem6\os\ОССП_Лабораторная_работа_12 (4 часа)\lab12 codebase based on best match to current usage at 25.02.2021
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

