<!DOCTYPE html>
<html>
<head>
    <title>Список продуктов</title>
    <meta charset="utf-8" />
</head>
<body>
<h1>Добавление тура</h1>
<form action="tours/post" method="POST">
    <label>tour name</label>
    <input name="tour_name" /><br>
    <label>tour description</label>
    <input name="tour_description"/><br>
    <label>country</label>
    <input name="country" /><br>
    <input type="submit" value="Отправить" />
</form>
<a href="/home">home</a>
</body>
<html>