<!DOCTYPE html>
<html>
<head>
    <title>home</title>
    <meta charset="utf-8" />
</head>
<body>
<a href="/tours">Список туров</a><br/>
<a href="/clients">Список клиентов</a><br/>
<a href="/applications">Список заявок</a><br/>

<a href="/deleteApplication">delete application</a><br/>
<a href="/addApplication">add application</a><br/>
<a href="/addTour">add tour</a><br/>
</table>
</body>
<html>