<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения о настройке приложения ASP.NET см. на странице
  https://go.microsoft.com/fwlink/?LinkId=169433.
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <handlers>
      <add name="task1" path="/BAA" verb="GET" type="BAA_Lab1.IISHandler1" />
      <add name="task2" path="/BAA" verb="POST" type="BAA_Lab1.IISHandler2" />
      <add name="task3" path="/BAA" verb="PUT" type="BAA_Lab1.IISHandler3" />
      <add name="task4" path="/task4" verb="POST" type="BAA_Lab1.IISHandler4" />
      <add name="task5" path="/task5" verb="GET,POST" type="BAA_Lab1.IISHandler5" />
      <add name="task6" path="/task6" verb="GET,POST" type="BAA_Lab1.IISHandler6" />
      <add name="websockets" path="*.websocket" verb="GET" type="BAA_Lab1.IISHandler7" />
    </handlers>
  </system.webServer>
</configuration>
